/*================= GLOBAL ==================*/
body {
    font-family: 'Raleway', sans-serif;
}

p, ol {
    font-size: large;
}

/*================= HEADER ==================*/
#user-stats {
    flex-direction: row;
    justify-content: space-between;
}

.vertical-center {
    min-height: 50%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 50vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

/*================= MAIN ==================*/
.button-group-choices button {
    display: block;
    margin-bottom: 1.25rem;
}

#quiz-score-container input.form-control {
    min-height: calc(2.08rem + 12px);
    height: calc(2.08rem + 12px);
}
